<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Store</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <h1>Book Store</h1>
    </header>
    <main>
      <section class="filter-sec">
        <div class="outer flex">
          <div class="sort-title">Sort by:</div>
          <a href="/book"  class="inner">Book Names</a >
          <a href="/book/sortbyauthor"  class="inner ">Author Name</a >
          <a href="/book/sortbycategory"  class="inner active">Category </a >
        </div>
      </section>
           <section class="button-sec">
          <div class="buttons flex wrap">
            <%uniqCategories.forEach(ele=>{%>
                <a href="/book/sortbycategory/<%=ele%>" class="each-button"><%=ele%></a>
            <%})%>
          </div>
          </section>
    </main>
  </body>
</html>
